@import "tailwindcss";



@font-face {
  font-family: 'AqvexFont';
  src: url('./assets/fonts/Klein/Klein-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'AqvexFont';
  src: url('./assets/fonts/Klein/Klein-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'AqvexFont'; 
  src: url('./assets/fonts/Klein/Klein-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'AqvexFont', sans-serif;
  font-weight: 500;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: #182A42;
  background-color: #ffffff;
}




