@import "tailwindcss";

@font-face {
  font-family: 'AqvexFont';
  src: url('./assets/fonts/Klein/KleinCondensed-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'AqvexFont';
  src: url('./assets/fonts/Klein/Klein-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'AqvexCustom';
  src: url('./assets/fonts/Klein/Klein-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'AqvexCustom', sans-serif;
  
  line-height: 1.5;
  font-weight: 400;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
  background-color: #ffffff;
  color: #182A42;
}


